@charset "utf-8";
/* CSS Document */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen {
    h1 em a {
    }

    .Main {
        background-image: radial-gradient(circle, RGB(200, 173, 127) 0%, RGB(93, 73, 31) 150%);
        border: ridge RGB(93, 73, 31);
    }
}

button {
    background-color: RGB(145, 121, 77);
    color: white;
    border: #000000;
    font-weight: 800;
    height: 40px;
    width: 200px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 60px;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 1s;
    transition: transform 1s ease 0s;
    border-width: thick;
}

    button:hover {
        background-color: RGB(93, 73, 31);
        transition: 0.2s;
        box-shadow: 10px 10px 10px hsla(0,0%,0%,0.15);
        transform: scale(1.1);
    }

    button:active {
        opacity: 0.7;
    }

body, td, th {
    font-family: "Lucida Sans";
    font-size: 16px;
}

body {
    background-image: url("images/vintage-2614408.jpg");
    color: #ffffff;
}

.Body {
    font-family: "Lucida Sans"
}

.WelcomeImage {
    background-image: url("images/unnamed.jpg");
    border-radius: 5px;
    width: 60vw;
    height: 50vh;
    background-position: center;
    align-items: center;
    border: 6px inset RGB(93, 73, 31);
    opacity: 0%;
    transition: opacity 2s ease-in;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

    .WelcomeImage:hover {
        opacity: 100%;
    }

.WelcomeText {
    font-weight: bolder;
    font-size: 32px;
    font-family: "Lucida Sans";
    background-color: RGB(93, 73, 31);
    border-radius: 5px;
    text-shadow: 2px 2px 10px black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.PortName {
    text-decoration: none;
    transition: 0.5s;
    color: RGB(93, 73, 31);
}

    .PortName:active {
        text-decoration: none;
        opacity: 0.5;
    }

.Title {
    transform-origin: 0 0;
    transform: scaleX(5);
    opacity: 0%;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

    .Title:hover {
        color: RGB(93, 73, 31);
        transition: color 1s;
        opacity: 100%;
        transform: scaleX(5);
    }

footer {
    background-color: RGB(45, 30,0);
    padding-bottom: 5vh;
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    list-style: circle;
    display: block;
    text-align: center
}

.Dog {
    border-radius: 5px;
    border: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Chic {
    border-radius: 10px;
    border: solid;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.email {
    cursor: pointer;
    color: RGB(45, 30,0);
    text-shadow: none;
    text-decoration: none;
}

h4 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 60px;
}

form {
    text-align: left;
    font-weight: Bold;
    padding-bottom: 10px;
}
.buttonLink {
	background-color: RGB(145, 121, 77);
	color: white;
	border: #000000;
	font-weight: 800;
	height: 40px;
	width: 200px;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
	border-radius: 60px;
	cursor: pointer;
	opacity: 0.9;
	transition: opacity 1s;
	transition: transform 1s ease 0s;
	border-width: thick;
}
	.buttonLink:hover {
		background-color: RGB(93, 73, 31);
		transition: 0.2s;
		box-shadow: 10px 10px 10px hsla(0,0%,0%,0.15);
		transform: scale(1.1);
	}
